:root {
  --darkteal(#2F4F4F);
}

html {
  scroll-padding-top: 70px;
}
  
body {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: flexbox;
  background: 	#A4BDBA;
  color: whitesmoke;
  padding: 0;
  width: 100%;
  margin: 10px;
  }

ul.justifyLeft{
  display: flexbox;
  justify-content: flex-start;
  max-width: 800px;
  text-align: left;
  margin-left: 20%;
  padding: 5px;
}  

ul.justifyLeft li {
  padding: 10px;
}
    
/*menu */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1rem;
  height: 70px;
  font-weight: bold;
}

ul {
  display: block;
  list-style-type: disc;
}
  
.nav-list li {
  padding: 10px;
  left: 50%;
}

.nav-list {
  display: flex;
  margin: 10px;
  padding: 5px;
}

ul {
  list-style: none;
}
  
a.nav-link {
text-decoration: none;
list-style: none;
color: teal;
font-weight: bold;
font-size: 1.25rem;
}

nav {
  background-color: #F5DADF;
  max-height: 80px;
  position: fixed;
}

#index {
  padding: 50px;
}

#profile{
  margin-top: 50px;
}

/* headers*/

h1#header.navName {
  z-index: 5;
  text-align: left;
  position: fixed;
  top: 0;
  font-family: 'Sacramento', cursive;
  text-decoration: none;
}

h1#title {
  color: whitesmoke;
  font-size: 10.5rem;  
  text-align: center;
  font-family: 'Fuggles', cursive;
  margin: auto;
  margin-top: 50px;
}

h2 {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

h2.top {
  margin-top: 80px;
}

h3 {
  color: #0088A3;
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
  color: white;
  font-weight: bold;
}

h5 {
  color: teal;
  font-size: 1.5rem;
}

h6 {
  color: teal;
  font-size: 1.5rem;
  margin: auto;
  display: flex;
  align-items: flex-start;
  text-align: left;
  margin-left: 23%;
}

/*main*/
  
section#socials a{
  font-size: 1.5rem;
  color: white;
  justify-content: center;
}

div.social-icons {
  display: inline-block;
  margin: 10px;
}

.about, .projects, .work, .education, .skills, .personal, .certification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  color: whitesmoke;
}

section {
  display: block;
}

.list {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.list li {
  margin: 10px; 
  align-items: center;
  text-align: center;
}

/*links*/
a.link {
  list-style: none;
  color: white;
  text-decoration: none;
  }

/*certification links*/
li#cert{
  padding: 5px;
}

a#link{
  color:#047387;
}

img#profile {
  border-radius: 50%;
  width: 100px;
  margin: auto;
}

/*Projects*/

div.project {
  margin: 20px;
}

img.thumbnail {
  max-width: 150px;
}

/*Work*/
ul.experience li{
  display: flex;
  align-items: flex-start;
  max-width: 800px;
  text-align: left;
  margin-left: 20%;
  padding: 5px;
}

section#work h3 {
  display: flex;
  align-items: flex-start;
  text-align: left;
  margin-left: 22%;
  padding-top: 5px;
}

/*images*/

img#profile {
  transition: transform .7s ease-in-out;
}
img#profile:hover {
  transform: rotate(360deg);
}

#background {
  width: 100%;
  height: 400px;
  z-index: -1;
}

section#images {
  max-height: 500px;
}

/*about*/

div.courses {
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px;
}