<DOCTYPE! html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0" >
            <link rel="stylesheet" href="../static/css/styles.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"/>
            <title>Portfolio Webpage</title>
        </head>

        <body>
          <header>
            <h1 class="name">Allison McHugh CV</h1>
            <nav id="navbar" class="nav">
                <ul class="nav-list">
                  <li><a class="nav-link" href="about.html">About Me</a></li>
                  <li><a class="nav-link"  href="projects.html">Projects</a></li>
                  <li><a class="nav-link" href="work.html">Work Experience</a></li>
                </ul>
            </nav>
          </header>

            <section id="socials" class="socials">
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/allison-mchugh/">
                    <i class="fab fa-linkedin-in"></i>LinkedIn
                  </a>
              </div>
              <div class="social-icons">
                  <a
                  id="profile-link"
                  href="https://github.com/A11y-Cat"
                  target="_blank"
                  class="btn contact-details"
                  >
                  <i class="fab fa-github">
                  </i> GitHub
                  </a>
              </div>
              <div class="social-icons">
                <a href="mailto:allison_mchugh@hotmail.co.uk">
                  <i class="fa-solid fa-at"></i>Email
                </a>
              </div>
            </section>
      
              <section id="about" class="about">
                <div class="details">
                  <h2>About Me</h2>
                  <p>As a highly motivated and creative individual, I love the challenge of working within a dynamic and
            fast paced environment as I have the ability to pick up computer systems quickly. The knowledge
            gained from my experience in client facing roles, delivering customer service has shaped my ability
            to adapt quickly, work efficiently, think creatively.</p>
                  <p> I am organised and detail orientated with
            management and administration experience. I am using online courses and certifications to further
            develop my knowledge on coding languages and developer software.
                  </p>
                </div>
              </section>

              <section id="education" class="education">
                <h2 id="edtitle" class="Edtitle">Education</h2>
                <div id="ed" class="ed">
                  <h3><span id="first" class="right first">2011 - 2015</span>Duncan of Jordanstone Collage of Art & Design</h3>
                  <h4 class="seconditem">BA Honours Fine Art Degree 2:1</h4>
                </div>
                <div id="ed" class="ed">
                  <h3><span id="second" class="right">2010 - 2011</span>Dundee and Angus College</h3>
                  <h4 class="seconditem">Portfolio Year</h4>
                </div>
                <div id="ed" class="ed">
                  <h3><span id="third" class="right">2005 - 2010</span>Blairgowrie High School</h3>
                </div>
              </section>
          
              <section class="skills">
                <h2>Skills</h2>
                <ul id="skills" class="list">
                  <li>CSS</li>
                  <li>HTML</li>
                  <li>Python</li>
                  <li>Power Automate</li>
                  <li>VsCode</li>
                  <li>Microsoft 365</li>
                  <li>Diary Management</li>
                  <li>Administration</li>
                  <li>Training</li>
                  <li>Management</li>
                  <li>CRM</li>
                </ul>
              </section>
          
              <section id="personal" class="personal">
                <h2>Personal Interests</h2>
                <ul class="list">
                  <li class="h3">DIY</li>
                  <li class="h4">Bought a house in 2020 and I have enjoyed learning new skills such as plastering, painting, woodwork, </li>
                  <li class="h3">Rock Climbing</li>
                  <li class="h4">I have always had a fear of heights, but I have never let that stop me and enjoy pushing myself.</li>
                  <li class="h3">Fine Art</li>
                  <li class="h4">I enjoy painting portraits and working in the smallest of details, I find painting a great way to relax and unwind.</li>
              </section>

        </body>
    </html>
</DOCTYPE>