<DOCTYPE! html>
    <html lang="en">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"/>
        <title>Portfolio Webpage</title>
      </head>

      <body>
        <header>
          <h1 class="name">Allison McHugh CV</h1>
          <nav id="navbar" class="nav">
              <ul class="nav-list">
                <li><a class="nav-link" href="about.html">About Me</a></li>
                <li><a class="nav-link"  href="projects.html">Projects</a></li>
                <li><a class="nav-link" href="work.html">Work Experience</a></li>
              </ul>
          </nav>
        </header>

              

      </body>
    </html>
</DOCTYPE>