<DOCTYPE! html>
    <html lang="en">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"/>
        <title>Portfolio Webpage</title>
      </head>

        <body>
          <header>
            <h1 class="name">Allison McHugh CV</h1>
            <nav id="navbar" class="nav">
                <ul class="nav-list">
                  <li><a class="nav-link" href="about.html">About Me</a></li>
                  <li><a class="nav-link"  href="projects.html">Projects</a></li>
                  <li><a class="nav-link" href="work.html">Work Experience</a></li>
                </ul>
            </nav>
          </header>

              

              <section id="work" class="work">
                <h2>Work Experience</h2>
                <div>
                  <h3>Programme Administrator - University of Bath</h3>
                  <p>Responsible for administrative duties for the School of Management courses including maintaining and updating
                    studen t records. Provide administrative support for the Directors of Studies and Director of Teaching. Processing
                    changes in student circumstances including liaising with the Student Records Office and Student Immigration
                    team. Monitoring and answering queries o n the CRM system. Assist in organising Applicant Visit days/Open
                    Days/Student Recruitment Events and meeting potential students and offer holders. Arranging widening
                    participation interviews. Secretary of the SSLC which includes writing minutes , setting up meetings , writing the
                    agenda , working with the studen t reps and committee members. Data officer for the Athena Swan committee.
                    Working with Microsoft 365 including forms and SharePoint, PowerAutomate, SAMIS, Business Objects</p>
                </div>
                <div class="experience"></div>
                    <h3>Assistant Property Manager - Hacking and Paterson</h3>
                    <p>Assisting in managing a portfolio of new build and traditional properties, providing high customer
            service, overseeing maintenance to common areas, carrying out inspections and meetings. Building
            strong relationships with property owners and contractors and liaising with solicitors. Coding
            invoices, writing multi letters, resolving complaints, general office administration, using software
            including RPM, Microsoft Office and Excel.</p>
                </div>
                <div>
                  <h3>Assistant Manager - Breeze Art Gallery</h3>
                  <p>Selling and marketing art. Negotiating deals and e xceeding personal and gallery sales targets. Organising events
                    and exhibitions. Building and developing client database. Stock management and merchandising. Reporting of
                    weekly figures and daily administration tasks.</p>
                </div>
                <div>
                  <h3>Store Manager- Subway</h3>
                  <p>Lia i sing with franchisee. Creation of upselling opportunities. Maximising staff productivity. Reducing product
                    waste. Pr o vision of staff training. Prepa ration of staff rotas. Reporting of weekly figures. Deposit of daily takings.
                    Dealing with orders, delivery and s tock management</p>
                </div>
                <div>
                  <h3>Bartender - Number Thirty One</h3>
                </div>
              </section>

        </body>
    </html>
</DOCTYPE>